@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.navbar-brand{
	height: 70px;
}
.my-img-brand{
	height: 70px;
}

.up_text_menu{
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0px;
	color: #7B7B7B;
	opacity: 1;
}

.main-menu{
	background: #F24942 0% 0% no-repeat padding-box;
	height: 45px;
}

.main-content{
	font-family: 'Montserrat', sans-serif;
	color: #FFFFFF;
	text-align:center
/*	height: 65px;*/
}
.top_pic{
	width: 15%;
	padding: 0;
}
.top_nav{
	margin-bottom: 0px;
}